# Entorno Virtual
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Carpetas de datos locales (No subir a Git en producción)
archivos_entrada/
archivos_salida/
logs/

# Si quieres que git rastree las carpetas vacías pero no los archivos,
# comenta las 3 líneas de arriba y descomenta las siguientes:
# archivos_entrada/*
# !archivos_entrada/.gitkeep
# archivos_salida/*
# !archivos_salida/.gitkeep
# logs/*
# !logs/.gitkeep

# Archivos de configuración local / Secretos
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/